#menu li {
    margin-left: 20px !important;
}

#menu {
    font-size: 18px;
}
a {
    cursor: pointer;
}
a span:hover {
    text-decoration: underline;
}
.content-center.brand>* {
    text-shadow: -7px 0px 4px rgba(150, 150, 150, 1);}