.row {
    margin: 10px !important;
}
#item {
    cursor: pointer;
}
#item:hover {
    background-color: rgb(172, 172, 172);
}
#item #actionSection span:hover svg{
    font-size: 22px;
}
#item #actionSection span {
margin-left: 3px;
margin-right: 10px;
font-size: 20px;


}
.title p {
font-size: small;
color: gray;
}
.title h4 {
    margin: 0;
}
.padding {
    margin: 3px !important;
}
.padding button {
    width: 100%;
    font-weight: 900;
    font-size: 20px;
}
#popupForm button {
    padding-top: 0;
}
#deleteBtn svg {
    color: red;
}
#editBtn {
    color: blue;
}